/* ********** CUSTOM PROPERTIES ********** */
:root {
  
}
/* ********** ********* ********** */



/* ********** RESET CSS ********** */
*, *::after, *::before {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}
body {
  min-height: 100dvh;
  margin: 0;
  display: flex;
  flex-direction: column;
}
/* Multimedia se adapta al tamaño del contenedor */
img, audio, video, iframe, canvas, svg, picture {
  max-width: 100%;
  height: auto;
}
/* Balanceo de los títulos y los párrafos */
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
p {
  text-wrap: pretty;
}
/* ********** ********* ********** */



/* ********** COMPONENTS ********** */

/* ********** ********* ********** */



/* ********** SITE STYLES ********** */
.text-error {
  color: red;
  font-weight: bold;
  display: none;
}
a {
  color: #09f;
  text-decoration: none;
  &:hover {
    color: rgb(4, 107, 175);
  }
  &:visited {
    color: #09f;
  }
}

.main-index {
  padding: 1rem;
  width: 80vw;
  margin-inline: auto;
  margin-top: 1rem;
  .main-index__list {
    .main-index__item {
      list-style: none;
      .main-index__link {
        text-decoration: none;
      }
    }
  }
}

.main-etu {
  display: flex;
  flex-flow: column wrap;
  padding: 1rem;
  height: 100vh;
  align-items: center;
  justify-content: space-evenly;
  .main-etu__title {

  }
  .main-etu__id {

  }
  .main-etu__input, .main-etu__btn {
    padding: 1rem;
    border-radius: .5rem;
    border: thin solid black;
    outline: none;
  }
  .main-etu__input {

    &:focus {
      border: medium solid #09f;
    }
  }
  .main-etu__btn {
    color: #f6ffff;
    background-color: #222e35;
    &:hover {
      transition: background .5s ease;
      background-color: #111b21;
    }
  }
  
}
/* ********** ********* ********** */